/* Ads DFP */
.adslot{
    text-align:center;
}
/* Hides the 'mas del autor' button in related articles on post*/
.td-related-title > .td-related-right {
    display:none!important;
}
/* Makes bigger the gray list on top menu*/
.top-header-menu li a {
    font-size:13px;
}
/* Stablish width to popup container so it wont overlap with other containers */
.mwd-animated{
    width:auto!important;
}

.td_container_video_playlist{
  display: none !important;
}

@media screen and (min-width: 481px) {


   /* Styles for homepage popup */
#mwd-form7{
  width: 682px;
  height: 444px;
  background-image: url(http://holatelcel.com/wp-content/uploads/2017/03/popup_home.jpg) !important;
}

.mwd-header-bg{
   display: none !important;
}

#mwd-form7 .wdform_section {
    background: transparent !important;
    margin-top: 342px !important;
    width: 425px !important;
    margin-left: 200px !important;
}

#mwd-form7 .wdform_column {
    padding: 0px !important;
    margin-left: 129px !important;
    margin-top: 12px !important;
    width: 302px !important;
}

#mwd-form7 .wdform_footer{
  padding: 0px !important;
  
}

#mwd-form7 .wdform-field {
    width: 423px !important;
}

#mwd-form7 .wdform-label-section {
    display: none !important;
}


#mwd-form7 .wdform-element-section {
    width: 325px !important;
}

#mwd-form7 .mwd-form .wdform-label-section {
    margin-right: 20px !important;
    opacity: 0;
}

#mwd-form7 #wdform_1_element7{
  height: 37px !important;
  border: none !important;
}

#mwd-form7 .mwd-subscribe-reset{
   width: 80px !important;
   margin-left: 120px !important;
   opacity: 0;
}

#closing-form7{
  right: 10px !important;
  opacity: 0;
}

/*
 #mwd-popover8 .mwd-popover-content{
    margin-top: 20% !important;
    vertical-align: none !important;
 }
*/

_::-webkit-:not(:root:root), #mwd-popover7 .mwd-popover-content {

  margin-top: 20% !important;
    vertical-align: none !important;

}

/*  Styles for post scroll popup  */

#mwd-form8 {
   width: 362px !important;
   height: 420px !important;
   background-image: url(http://holatelcel.com/wp-content/uploads/2017/03/popup_scroll.jpg) !important;
}

#mwd-form8 .wdform-label, #mwd-form8 .wdform-required{
  display: none !important;
}

#mwd-form8 .wdform-element-section{
  width: 238px !important;
}

#mwd-form8 .wdform_row:nth-child(2) .wdform-element-section input[type=text]{
  margin-bottom: 18px;
}

#mwd-form8 .wdform_row:nth-child(3) .wdform-element-section input[type=text]{
  margin-bottom: 21px;
}

#mwd-form8 .wdform_row:nth-child(4) .wdform-element-section input[type=text]{
  margin-bottom: 36px;
}

#mwd-form8 .wdform_row:nth-child(5) {
  margin-left: -33px;
}

#mwd-form8 .wdform-element-section input[type=text]{
  height: 26px !important;
  padding: 0px !important;
  margin-bottom: 14px;
  
}

#mwd-form8 .wdform-element-section input[type=checkbox]{
   display: table-cell !important;
}




#mwd-form8 .wdform-element-section label{
  display: none;
}

#mwd-form8 .wdform_row:nth-child(5) .wdform-element-section{
    float: left;
}

#mwd-form8 .wdform_row:nth-child(5) .wdform-element-section div{
  margin-right: 61px !important;
  width: 25px !important;
}

#mwd-form8 .wdform_row:nth-child(5) .wdform-element-section div:nth-of-type(2) {
  margin-right: 56px !important;
}

#mwd-form8 .wdform_row:nth-child(5) .wdform-element-section div:nth-of-type(3) {
  margin-right: 20px !important;
}

#mwd-form8 .wdform_row:nth-child(5) .wdform-element-section div:nth-of-type(4) {
  margin-right: 61px !important;
  margin-top: 10px;
}

#mwd-form8 .wdform_row:nth-child(5) .wdform-element-section div:nth-of-type(5) {
  margin-right: 55px !important;
  margin-top: 10px;
}

#mwd-form8 .wdform_row:nth-child(5) .wdform-element-section div:nth-of-type(6) {
  margin-right: 20px !important;
  margin-top: 10px;
}

#mwd-form8 .wdform_row:nth-child(6)  {
  margin-left: 65px;
  margin-top: 10px;
  opacity: 0;
}

#mwd-form8 .wdform_footer{
  padding: 0px !important;
}

#mwd-form8 .wdform_column{
  padding: 0px !important;
  margin-top: 72px !important;
  margin-left: 78px !important;
}

#mwd-form8 .button-submit{
  padding-bottom: 0px !important;
  border: none;
}

#closing-form8{
  right: 12px !important;
  color: #000 !important;
  opacity: 0.8;
}

#minimize-form8{
  display: none;
}

.td-social-icon-wrap .td-icon-font{

    font-size: 14px !important;
}

 .td-category li{
    padding: 0; 
 }
 
 article div[id$="-b"]{
     margin-bottom: 50px;
 }
 
 .td-header-top-menu{
     text-transform: none !important;
 }
 
  article div[id$="-b"]{
     margin-bottom: 50px;
 }
 
 .menu-top-container ul>li:nth-of-type(3) a{
    /*color: yellow !important;*/
    font-weight: bold !important;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.menu-top-container ul>li a:hover{
    color: #333;
    border-color: #333;
}
 
 #gigya-login{
    display: block;
    line-height: 30px;
    float: right;
    font-size: 12px;
    height: 32px;
    /*width: 110px;*/
    font-weight: bold;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid;
    text-align: center;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

#gigya-login>img{
    float: left;
    margin-right: 15px;

}

#gigya-login:hover a{
    color: #333;
}

#gigya-login:hover{
    border-color: #333;
}

 #gigya_controls_logout{
    line-height: 54px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
 }


 #mobile-login-header{
     display: none;
 }
 
  .td-container #nombre-del-slot{
     display: block !important;
     margin-top: 50px;
 }
 
  .boton-iot{
     float: left;
     width: 24%;
     cursor: pointer;
     margin-right: 1.3%;
 }
 
 .boton-iot:nth-child(4){
     margin-right: 0px;
 }
 
  #container-iot{
     overflow: hidden;
     margin-bottom: 80px;
 }
 
 #menu-td-demo-header-menu-1>li:nth-child(7){
     display: none;
 }
 
 .global-main-container aside{
     width: 100% !important;
 }
 


 }   /*  End of media query for desktop */

#newsletter-button{
 
     width: 50%;
     background: #3399FF;
     color: white;
     border-radius: 5px;
     font-weight: bold;
     text-align: center;
     cursor: pointer;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
 }
 
 #newsletter-outer{
    background: #ededed;
    width: 100%;
    /*height: 165px;*/
    border-radius: 8px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
     
 }
 
 #newsletter-title{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-weight: bold; 
 }
 
 #back-iot{
     margin-right: auto;
     margin-left: auto;
     margin-top: 50px;
     margin-bottom: 50px;
     width: 50%;
     background: #3399FF;
     color: white;
     text-align: center;
     font-weight: bold;
     border-radius: 5px;
     padding: 8px;
 }
 
 #back-iot a{
     color: white;
     display: inline-block;
     height: 100%;
     width: 100%;
 }
 
 #newsletter-desc{
    width: 80%;
    margin: 0 auto;
 }

 
  .td-pb-row #nombre-del-slot{
     display: none;
 }
 

 

 .share-buttons{
 
    display: table;
     
 }
 
 .share-buttons > div, .share-buttons > iframe, .share-buttons > span {
 
   display: table-cell !important;
   vertical-align: top; 
   margin-right: 8px !important;
 }
 
 .share-buttons div{
    padding-right: 8px;   
 }
 
 .share-buttons>iframe{
    margin-top: 1px !important;   
 }
 
 @-moz-document url-prefix() {
    .share-buttons>iframe{
       margin-top: -4px !important;   
    } 
}
 
 .share-buttons {
    margin-bottom: 20px;
 }

 .share-buttons div:nth-child(1){
    margin-top: -1px;   
 }
 
 .share-buttons > div:nth-child(3) span{
    height: 20px; 
    line-height: 20px !important;
 }
 

 

 
  @media screen and (max-width: 480px) {
 
 #newsletter-button{
     margin-top: 10px;
     margin-bottom: 5px;
     }
     
      #mobile-login-header{
         background: #3399ff;
         height: 45px;
         /*position: fixed !important;*/
         width: 100%;
         z-index: 9999;
         /*margin-top: 54px;*/
     }
     
     #newsletter-button{
     margin-top: 10px;
     margin-bottom: 5px;
     }
     
     #mobile-login-button{
         color: white;
         display: inline;
         float: right;
         line-height: 28px;
         text-align: center;
         /*height: 30px;*/
         border-radius: 5px;
         border: solid 2px white;
         font-weight: bold;
         /*width:32%;*/
         margin-top: 7.5px;
         font-size: 11px;
         padding-right: 10px;
         padding-left: 10px;
     }
     
     #gigya_controls_logout_mobile{
        line-height: 45px;
         font-size: 12px;
         font-weight: bold;
         float: left;
         margin-left: 20px;
     }
     
     #mobile-login-button >img{
        float: left;
        margin-right: 10px;

     }
     
     #mobile-login-button >a{
        /*float: left;*/
        color: #fff;
        font-size: 11px;

     }

      
      #gigya_controls_logout_mobile>a{
         color: #fff; 
      }
           
      
      #banner-iot-home-mobile{
         display: block !important;
         margin-top: -20px;
      }  
      
      .td-container #nombre-del-slot{
        display: block !important;
        margin-top: 15px;
      }
      
      #banner-sitio{
        margin-top: -20px;
      }
      
      .boton-iot{
        float: left;
        width: 49%;
        cursor: pointer;
      }
 
      .boton-iot:nth-child(1), .boton-iot:nth-child(3){
         margin-right: 2%;
      }
      
       #container-iot{
        overflow: hidden;
        margin-bottom: 30px;
       } 
       
       .td-category li{
         padding: 0;
       }
       
       /*Taboola thumbs for mobile*/
       
       .trc_rbox_outer .videoCube{
           width: 47% !important;
           margin-left: 2% !important;
       }
       
       .alternating-thumbnails-a .syndicatedItem .branding{
           height: 55px !important;
       }
     
  }